#nav { float:left; margin-top:0px; font-size:12px; width:100%; position:relative; z-index:100;
       background-image: url(/skin/frontend/default/midwest/images/nav/MidwestMenuBar0609_a_06.gif); } /*** float***/
#nav li.level0 a { border-right:1px solid #40260E; } /** #40260E dark brown **/

#nav li.nav-more a { border:0; /*padding:7px 18px 7px 11px;*/ }
#nav li.nav-more li.level1 a { padding:0; }
/************** ALL LEVELS  *************/ /* Style consistent throughout all nav levels */
UL.level0{
    width:200px !important;
    background:#FDE5E4;  /** #FDFBFB pink cream**/
    padding:1px 0px 0px 0px;
    margin:28px 0px 0px 0px;
    border:solid thin #cccccc;
    z-index:999;
}
li.nav-beer ul.level0 {
  width:1000px !important; 
  border-top: solid thin #f0d611 !important; 
  border: solid thick #a41128; 
 
  }
li.nav-kegging ul.level0 {
	width:600px !important;
	
	}

li.nav-wine ul.level0 {
    width:800px !important;  
        
    }
	
li.nav-all-grain-brewing ul.level0 {
    width:600px !important;      
    }
	
	li.nav-soda-liqueurs ul.level0 {
    width:400px !important;  
        
    }

#nav UL.level1, #nav UL.level2,  #nav UL.level3, #nav UL.level4,  #nav UL.level5 {
}

#nav UL LI.level1{
    float:left !important; /*** float***/
    width:151px;
    margin:0 1px;
}

#nav UL LI, #nav UL LI.last{
    background:none !important;
    
}

#nav UL LI.level1 UL{
    float:left !important; /*** float***/
    padding:1px;
   }


#nav li { position:relative; text-align:left; }
#nav li.over { z-index:999; }
#nav a,
#nav a:hover { display:block; line-height:1.3em; text-decoration:none; }
#nav span { display:block; cursor:pointer; white-space:nowrap; }
#nav li ul span {white-space:normal; }

/************ 0 LEVEL  ***************/
#nav li { float:left;} /*** float***/
#nav a { float:left; /*padding:7px 16px 7px 9px;*/ color:#fff; font-weight:bold; } /*** float***/
#nav li:hover { background-image:none; }

#nav li.over a,
#nav a:hover { color:#fff; }
#nav li.level0 a:hover, #nav li.level0:hover { background:#F63439; } /** #F63439 bright red top level**/

/************ 1ST LEVEL ************/
#nav ul li,
#nav ul li.active { float:none; margin:0; background:#CCCCCC; }
#nav ul li.last { background:#FDFBFB; padding-bottom:0; } /** #FDFBFB cream **/

#nav ul a,
#nav ul a:hover { float:none; padding:0; color:#fff; font-weight:lighter;  }
#nav ul li a { font-weight:normal !important; }

/************ 2ND LEVEL ************/
#nav ul { position:absolute; width:200px; top:29px; left:-10000px; }

/* Show menu */

#nav li.over > ul { left:0; margin-top:7px; }
#nav .nav-wine.over > ul { left:-250px; } /*** Add for right side to drop left ***/
#nav .nav-all-grain-brewing.over > ul { left:-205px; } /*** Add for right side to drop left ***/
#nav .nav-beer.over > ul { left:-5px; } /*** Add for right side to drop left ***/

#nav li.over > ul li.over > ul { left:140px; }/***/
#nav li.over ul ul { left:-10000px; }

#nav ul li a { background:#FDE5E4; } /*** (cream)#FDFBFB ***/

#nav li.level0:hover li.level1 a:hover { Background:#FFFFFF; } /***#FDEEEF light pink ***/
#nav li.level0 li a { background:#FDE5E4; font-weight:bold; color:#fff; } /***Drop down color (not hovered) FDFBFB cream***/
#nav li.level0 li.parent a { background:#FDE5E4 url(../images/parent_arrow.gif) right center no-repeat; } /** #FDFBFB cream **/ 
#nav li.parent li.level2 a { background-image:none; }
#nav li.level0 li { margin-bottom:1px; }
#nav li.level0 li.last { margin-bottom:0; }

#nav li.level0 li li { border:0; }

#nav li.level0 li.level1 a { border-right:0; }
#nav ul li a,
#nav ul li a:hover { color:#000 !important; font-weight:bold; } /**Font color for drop downs**/
#nav ul span, #nav ul li.last li span { padding:5px 10px;}

/************ 3RD+ LEVEL ************/
#nav ul ul { top:5px; background:#000; }/***Hover background in dropdowns FDFBFB  **/
#nav ul ul ul li a { background:#FDFBFB; } /*** #FDFBFB cream ***/
li.level2 a { padding-left:5px !important; }
li.level3 a { padding-left:10px !important; }
li.level4 a { padding-left:15px !important; }
li.level5 a { padding-left:20px !important; }

.top { font-weight:bold; font-size:1.0em; }
.parent { font-weight:bold; margin: -0px 0px -0px 0px; padding:-0px 0px 0px 0px; font-size:1.1em; color:Black;  }
.child { text-indent:3px; margin: -6px 0px -3px 0px !important; padding:-5px 0px 0px 0px; font-size:0.8em; line-height:1.0em; color:Black; }
.subchild { text-indent:5px; margin: -6px 0px -3px 0px !important; padding:-5px 0px 0px 0px; font-size:0.4em; line-height:0.4em; visibility:hidden; color:Black; }

.top-left { width:200px; float:left; border:none; }