/* Default styles */
@import "reset.css";

/*----------------------------------------------------------*/
/* SETUP */
/*----------------------------------------------------------*/

body { font: 14px/22px 'Helvetica LT Std', 'Helvetica Neue', Arial, sans-serif; color: #4d4e51; background: #fff url("../images/bg.png") repeat-x ; }

h1, h2, h3, h4, h5, h6 { margin: 0; color: #000; font-weight:normal; font-family: 'Helvetica Neue', Arial, sans-serif; }
h2 {font-size: 22px;} 
h3 {font-size: 18px;} 
h4 {font-size: 16px;} 
h5 {font-size: 14px;} 
h6 {font-size: 12px;}

p {margin: 0; color: #4d4e51;}

/* 1.2 Hyperlinks */

a:link, a:visited {color: inherit; text-decoration:none; border: 0; outline: none;}
a:hover { text-decoration: underline; }

h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited, h5 a:link, h5 a:visited, h6 a:link, h6 a:visited { }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { }

.heading h2 { text-transform: uppercase;}
.clear { clear: both;}
/*--------------------------------------------------------*/
/* CONTAINERS */
/*--------------------------------------------------------*/

#container { width: 100%; margin:0; padding:0; }
.inner { width: 940px; margin: 0 auto;}

/*--------------------------------------------------------*/
/* HEADER */

#header-outer {
  
}

#header {
  height: 192px;
  padding-top: 20px;
  color: #145b9c;
  background: url("../images/glow.png") no-repeat center 0 scroll;
}


h1#identity a {
  width: 126px;
  height: 155px;
  background: url("../images/identity.png") no-repeat;
  float: left;
  text-indent: -9999px;
}

#navigation {
  width: 765px;
  height: 128px;
  float: right;
}

#navigation ul { list-style: none;}
#navigation ul li {float: left;}

#share-links { float: right;}
#share-links li { padding:2px 4px; font-size: 10px;}

#share-links li a { display: block; width: 15px; height: 15px; margin-top: 4px;}
#share-links li#fb-ico a { background: url("../images/icons/fb-icon.png") no-repeat;}
#share-links li#tw-ico a { background: url("../images/icons/tw-icon.png") no-repeat;}
#share-links li#mail-ico a { background: url("../images/icons/email-icon.png") no-repeat;}

#menu {
  width: 765px;
  height: 41px;
  background: url("../images/menu-bg.png") no-repeat;
  float: right;
  padding: 0;
  margin: 10px 0;
}

#menu li { float: left; margin-left: 16px;}
#menu li a {
  font-size: 12px;
  font-weight: 500;
  color: #186bb1;
  text-transform: uppercase;
  height: 38px;
  line-height: 38px;
}

#menu li a:hover {color: #2a83bc; text-decoration: none;}

#order-menu {float: right; margin: 0; padding: 0;}
#order-menu li { float: left; margin-left: 18px;}
#order-menu li a { padding-left: 20px; font-size: 12px; color: #145b9c; line-height: 15px; padding-top: 2px;}
#order-menu li#order-status a { background: url("../images/icons/order-icon.png") no-repeat left 2px; }
#order-menu li#my-account a { background: url("../images/icons/account-icon.png") no-repeat left 2px; }
#order-menu li#view-cart a { background: url("../images/icons/cart-icon.png") no-repeat left 2px; }


/*--------------------------------------------------------*/
/* PROMO */

#home-teaser {
  margin-top: -20px;
  width: 100%;
  height: 270px;
}
#promo {
  background: url("../images/teaser-bg.png") no-repeat;
  width: 940px;
  height: 290px;
  margin: 0 auto;
  float: left;
}

#left-shadow {
  width: 97px;
  height: 51px;
  background: url("../images/shadow-left.png") no-repeat;
  float: left;
  margin-left: -97px;
}

#right-shadow {
  width: 97px;
  height: 51px;
  background: url("../images/shadow-right.png") no-repeat;
  float: left;
  margin-right: -97px;
}

#left-shadow, #right-shadow {
  margin-top: 239px;
}  

#promo .promo-text {
  width: 395px;
  height: 221px;
  float: left;
  margin: 21px 16px 0 18px;
}

.ie6 #promo .promo-text {
  overflow: hidden;
   margin: 21px 14px 0 10px;
}

#promo .promo-text h2 {
  margin-bottom: 16px;
  font-size: 22px;
  color: #0b2d5b;
  font-weight: bold;
}

#promo .promo-text p {
  font: 14px/18px "Helvetica Neue", Arial, sans-serif;
  color: #0b2d5b;
  padding-bottom: 8px;
}

#promo .promo-text p strong {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  text-shadow:0 1px 0 #777; 
}
a.learn-more, a.buy-now { float: left; margin-right: 6px; text-indent: -99999px;}
a.learn-more {
  background: url("../images/buttons/learn-more-btn.png") no-repeat;
  width: 128px;
  height: 31px;
}

a.buy-now {
  background: url("../images/buttons/buy-now-btn.png") no-repeat;
  width: 109px;
  height: 31px;
}

#promo .promo-image {
  width: 511px;
  height: 260px;
  float: left;
  background: url("../images/promo-image.jpg") no-repeat;
}

#promo .promo-image img {
  float: right;
  margin: -12px -12px 0 0;
}

#press-ribbon {
  background: url("../images/press-bg.png") repeat-x;
  height: 75px;
  width: 100%;
  line-height: 72px;
  margin-top: -2px;
}

.ie6 #press-ribbon { margin-top: -22px;}
.ie7 #press-ribbon { margin-bottom: 10px;}
#press-ribbon span {
  float: left;
  color: #186bb1;
  font-size: 14px;
  font-weight: bold;
  text-shadow:0 1px 0 #fff;
  padding-top: 4px; 
  margin-bottom: 22px;
}
.logos-list {list-style: none; float: left;}
.logos-list li {
  float: left;
  margin-left: 42px;
  height: 75px;
  line-height: 72px;
}
.logos-list li a img { border: 0; margin-top: 24px;}
.ie7 .logos-list li a img { border: 0; margin-top: 16px;}


.logos-list li { color: none;}

/*--------------------------------------------------------*/
/* MAIN */

#main {
  background: #f9f9f9 url("../images/main-bg.png") repeat-x left bottom;
}

#main h3 {
  color: #186bb1;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid #cdd3d8;
  padding-bottom: 12px;
}

#home-testimonial h3 {
  margin: 0 0 20px 0;
}

#home-testimonial img {
  float: left;
  margin-right: 20px;
  margin-bottom: 30px;
}

#home-testimonial .text p { font-size: 16px; padding: 0 0 16px 0; font-family: "Helvetica LT Std", Arial, sans-serif;}
#home-testimonial .text p i { color: #1664a5;}
#home-testimonial span { font-size: 14px; font-weight: bold; float: left;}
#home-testimonial span small {font-size: 11px;}
#home-testimonial a { float: right; background: url("../images/buttons/more-about-why.png") no-repeat; width: 131px; height: 28px; text-indent: -99999px;}


/*--------------------------------------------------------*/
/* GRAY AREA */

#gray {
  background: #f9f9f9 url("../images/gray-bg.png") repeat-x;
  padding-top: 30px;
}

#gray h2 {
  font-size: 25px;
  color: #186bb1;
  font-weight: bold;
  text-transform: uppercase;
}

#gray h3 {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#gray p { line-height: 130%; font-size: 12px;}

#gray p b {
  font-size: 14px;
  color: #186bb1;
}

#microbes-list { list-style: none; margin: 26px 0 0 0; padding: 0;}
#microbes-list li {
  float: left;
  width: 300px;
  margin-right: 20px;
  padding-bottom: 58px;
}
#microbes-list li:last-child {margin-right: 0;}

#microbes-list li h3 {
  font-size: 13px;
  font-weight: bold;
  color: #6b7176;
  padding-bottom: 12px;
  border-bottom: 1px solid #cdd3d8;
  margin-bottom: 24px;
}

#microbes-list li img {margin-bottom: 24px;}
#microbes-list li h4 {
  font-weight: bold;
  font-size: 14px;
  color: #186bb1;
  font-family: "Helvetica LT Std", Arial, sans-serif;
  height: 108px;
  overflow: hidden;
}

#microbes-list li p { font-size: 13px; height: 110px;}

a#about-microbes, a#about-doormat, a#how-works {
  display: block;
  height: 28px;
  text-indent: -9999px;
}

a#about-microbes { background: url("../images/buttons/m1.png") no-repeat;}
a#about-doormat { background: url("../images/buttons/m2.png") no-repeat;}
a#how-works { background: url("../images/buttons/m3.png") no-repeat;}

/*--------------------------------------------------------*/
/* FOOTER */

#footer {
  background: url("../images/footer-bg.png") repeat-x;
  height: 92px;
  width: 100%;
  overflow: hidden;
  padding-top: 28px;
  color: #b5dced;
}

#footer p {
  float: left;
  color: #b5dced;
  font-size: 11px;
  font-weight: bold;s
}

#footer .right {
  width: 520px;
}

#footer ul { list-style: none !important;}
#footer li {
  float: left;
  font-size: 11px;
  text-align: right;
}

#footer li a { color:#cbdce9; border-right: 1px solid #ccdde9; padding: 0 5px;}
#footer li:last-child a { border-right: none;}
#footer ul#footer-links {float: right;}
#footer ul#second-footer-links {float: right;}

.heading {
  border-bottom: 1px solid #e2e2e2;
  padding: 18px 0;
}

.heading h2 {
  font-size: 22px;
  font-weight: bold;
  color: #186bb1;
}

#video-player {
  background: url("../images/video-bg.png") no-repeat;
  width: 937px;
  height: 391px;
  margin: 27px 0 0 0;
}

#video-container {
  width: 620px;
  height: 284px;
  margin: 0 auto;
}

.hw img {margin-left: 47px;}

span.img-capiton {
  font-size: 13px;
  width: 364px;
  line-height: 14px;
  float: left;
  margin-left: 60px;
  padding-top: 12px;
}

span.fst { margin-right: 34px;}

ul.sections { }
ul.sections li {
  width: 460px;
  float: left;
  margin-right: 18px;
  padding-bottom: 70px
}

ul.sections li:last-child { margin-right: 0;}
ul.sections li h4 { font-size: 13px; color: #186bb1; font-weight: bold; padding-bottom: 10px; border-bottom: 1px solid #cdd3d8; margin-bottom: 20px;}
ul.sections li p { font-size: 12px; line-height: 140% !important; padding-bottom: 10px;}
ul.sections li span { color: #a5cf51; font-size: 13px; text-transform: uppercase; font-weight: bold; padding-top: 110px; display: block; }

.story { padding-top: 30px; padding-bottom: 40px;}
.story img {
  float: left;
  margin: 0px 21px 14px 0;
}

.story p { line-height: 16px; font-size: 13px;}
.story p i {
  color: #186bb1;
  font-size: 16px;
  line-height: 160%;
  font-weight: bold; /* not proud of this... */
}

.story p em { color: #186bb1; font-style: normal; /* not proud of this either... */}
.ie6 #send-message { margin-top: 10px;}
#contact-form form { margin-top: 18px;}
#contact-form { width: 405px; float: left; margin-right: 80px;}
#contact-form form input[type="text"], #contact-form form textarea, #contact-form form input.txt { width: 400px !important; margin-bottom: 12px;}
#contact-form input[type="text"], #contact-form form input.txt { height: 21px; padding: 0;}
#contact-form label { font-size: 13px; color: #4d4e51; line-height: 23px;}

#contact-form h3, #contact-address h3 { margin-bottom: 23px; font-weight: bold;}
#contact-address p { display: block; width: 405px; margin-bottom: -20px; padding:0;}
#contact-form p b, #contact-address p span b { font-size: 14px; color: #186bb1; font-weight: bold;}
#contact-address { width: 405px; float: left;}
#contact-address p span { float: left; margin-right: 10px; padding-bottom: 20px;}
#contact-address p span b { width: 50px; display: block;}

input#send-message {
  width:124px;
  height: 28px;
  background: url("../images/send-message-btn.png") no-repeat;
  border: 0;
  outline: none;
}

.ie6 .first { overflow: hidden; width: 540px;}
.first { float: left; width: 544px;}
.second { float: right; width: 375px;}

.ie6 #product-container {  width: 540px;}
#product-container {
  width: 544px;
  height: 482px;
  background: url("../images/products-bg.png") repeat-x left bottom;
}

#product-container #big-picture {
  width:539px;
  height: 284px;
  background: url("../images/product-big.jpg") no-repeat;
}

#product-container #big-picture img {
  margin: -13px 0 0 -13px;
}

#product-container #small-pics {
  width: 500px;
  margin: 10px auto;
}
.ie6 #product-container #small-pics ul li {
  margin-right: -8px; padding-right: 0 ; padding-left: 0 ;
  width: 70px;
}

#product-container #small-pics ul li {
  float: left;
  width: 84px;
  text-align: center;
  margin-right: 20px;
  font-size: 11px;
  padding-top: 20px;
}

#product-container #small-pics ul li:last-child { margin-right: 0;}

#buy-products { margin-top: 20px;}

#buy-products h2 {
  color: #8fb04f;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #cdd3d8;
  padding-bottom: 10px;
  margin-bottom: 14px;
} 

#buy-products form#buy-form {
  height:55px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cdd3d8;
}
#buy-products form#buy-form ul li { margin-right: 30px;}
#buy-products form#buy-form ul li label { font-size: 13px; color: #4d4e51;}
#buy-products form#buy-form ul li { float: left;}
#buy-products form#buy-form ul li input#quantity, #buy-products form#buy-form ul li input#price { width: 50px;}
#buy-products form#buy-form ul li select { width: 182px;}
#buy-products form#buy-form ul li input#buy-now-btn { width: 95px; height: 28px; background: url("../images/buttons/buy-now-green-btn.png") no-repeat; border: 0; outline: none; margin-top: 18px;}
#buy-products form#buy-form ul li span { line-height: 38px; height: 38px;}

#newsletter {
  width: 334px;
  height: 231px;
  padding: 25px 16px;
  border: 5px solid #dadada;
}

#newsletter h2 {
  font-size: 20px;
  font-weight: bold;
  color: #de7816;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #cdd3d8;
  margin-bottom: 20px;
}

#newsletter h2 strong {
  font-size: 23px;
}
#newsletter p b {
  color: #186bb1;
  font-size: 14px;
}
#newsletter form p { text-align: center;}
#newsletter form input[type="text"] { width: 328px; margin: 10px 0 0 0;}
#newsletter form input#interested { margin-top: 28px; width: 120px; height: 28px; background: url("../images/buttons/interested-btn.png") no-repeat; border: 0; outline: none;}


#press-list li {
  width: 470px;
  height: 120px;
  margin-bottom: 20px;
  float: left;
  border-bottom: 1px solid #ced9dd;
}

#testimonials-list li
{
    width: 470px;
    height: 100px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    float: left;
    border-bottom: 1px solid #ced9dd;
    overflow: hidden;
}

#press-list li h3 {
  border-bottom: none;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

#press-list li img { border: 5px solid #bbb; float: left;}
#press-list li p { padding: 0; margin: 0; height: 50px;}
#press-list li a.read-article, #press-list li a.view-video { display: block; height: 28px; margin-left: 158px;}
#press-list li a.read-article { width: 131px; background: url("../images/buttons/read-article.png") no-repeat;}
#press-list li a.view-video { width: 128px; background: url("../images/buttons/view-video.png") no-repeat; }
#press-list li.last, #testimonials-list li.last { border-bottom: none !important;}

.press-section {
  float: left;
  width: 460px;
}

.press-section ul {
  list-style: disc;
  margin-left: 18px;
}
.press-section ul  { line-height: 180%;}
.ie6 .press-section ul li a.top, .ie7 .press-section ul li a.top  { background-position: left top;}
.press-section ul li a.word-ico {
  background: url("../images/icons/word-ico.png") no-repeat left center; padding-left: 26px; 
}
.press-section ul li a.pdf-ico {
  background: url("../images/icons/pdf-ico.png") no-repeat left center; padding-left: 26px;
}

/*.ie6 .press-section ul li a.word-ico, .ie7 .press-section ul li a.word-ico  {
  background: url("../images/icons/word-ico.png") no-repeat left 6px; padding-left: 26px; 
}
.ie6 .press-section ul li a.pdf-ico, .ie7 .press-section ul li a.pdf-ico {
  background: url("../images/icons/pdf-ico.png") no-repeat left 6px; padding-left: 26px;
}*/

.press-section h3 { color: #8fb04f !important;}
.press-sections p b { color: #186bb1 !important;}
.secondary { margin-left: 20px;}
.secondary h3 { margin-bottom: 35px !important; }

.media-contact p { font-size: 16px; font-weight: bold; color: #4d4e51;}
.media-contact p em { font-style: normal; color: #8fb04f; margin-left: 90px; display: block;}

#testimonials-list { margin-top: 28px;}
#testimonials-list li div { float: left;  padding-bottom: 18px; width: 90px;}
#testimonials-list blockquote { font-size: 12px; line-height: 120%; color: #4d4e51; font-style: italic; font-family: "Helvetica Neue", Arial, sans-serif; margin-bottom: 10px; width: 456px;}
.ie6 #testimonials-list blockquote, .ie7 #testimonials-list blockquote  {width: 300px;}
#testimonials-list p { font-size: 12px; font-style: normal; color: #4d4e51; font-weight: bold; font-family: Arial, sans-serif;}

.inner p b { color: #186bb1; font-size: 14px}
.inner h3 { font-weight: bold;}
.about p img { float: left;}
.about p { line-height: 18px;}
.about ul { list-style: disc; margin-left: 18px;}
.green { color: #8fb04f !important;}

#care { list-style: none !important; margin-left: 0; margin-top: 10px;}
#care li { float: left; width: 460px; height: 100px;}
#care li img { float: left; margin-right: 20px;}
#care li p { width: 320px; float: left;}
.ie6 #care li p, .ie7 #care li p { width: 320px; float: left;}
ul.bullet {
  list-style: disc;
  margin-left: 18px;
}

ul.bullet li {
  margin-bottom: 10px;
  font-size: 13px;
}

ul.bullet li em {
  font-size: 12px;
  color: #186bb1;
}

#gray .inner p strong { font-size: 16px !important;}
#faq li { margin-top: 20px;}
#faq li strong { padding-right: 4px;}
#faq li p { padding-bottom: 8px;}

#tips {
  width: 620px;
  float: left;
}

#tips ol li { margin-top: 20px;}
#facts {
  float: right;
  width: 277px;
  padding: 15px 10px 10px 10px;
  border: 5px solid #dadada;
  margin-top: -20px;
}
#facts h3 {
  color: #de7816;
}
#facts ul {
  list-style: disc;
  color: #186bb1;
  font-size: 13px;
  font-weight: bold;
  margin-left: 16px;
  margin-top: 20px;
}

#facts ul li {
  padding-left: 8px;
  margin-bottom: 18px;
  line-height: 110%;
}

.txxt {
  width: 328px;
}
.ie6 .txxt { margin-top: 10px;}

.test { min-height: 400px;}
.test p { line-height: 170%;}
















