<?xml version="1.0"?>
<config>
  <modules>
    <Wdc_Catalog>
      <version>0.1.0</version>
    </Wdc_Catalog>
  </modules>  
  <global>
    <blocks>
      <catalog>
        <rewrite>
          <class>Wdc_Catalog_Block</class>
        </rewrite>
      </catalog>
    </blocks>
    <models>
      <catalog>
        <rewrite>
          <class>Wdc_Catalog_Model</class>
        </rewrite>
      </catalog>
    </models>
    <helpers>
      <catalog>
        <rewrite>
          <class>Wdc_Catalog_Helper</class>
        </rewrite>
      </catalog>
    </helpers>
  </global>
</config>
